.main-nav {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &__item {
            margin: 0 20px;
        }
        &__item.logo {
            img {
                transform: scale(0.8);
            }
        }
    }
}