.main-nav {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 2;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0px;
        background-color: rgba(255, 208, 136, 0.3);
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        &__item {
            position: relative;
            display: flex;
            align-items: center;
            height: 70px;
            margin: 0 25px;
            list-style-type: none;
            text-transform: uppercase;
            color: #FFD088;
            font-weight: 400;
            text-align: center;
            cursor: pointer;
            transition: color 200ms;
            padding-top: 2px;
            z-index: 2;
            text-shadow: 0px 1px 15px black;
            
            &:after {
                content: '';
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0px;
                left: 0px;
                background-color: #FFD088;
                
                opacity: 0;
                transition: opacity 200ms;
            }
            &:hover {
                // color: #FBBC30;
                &:after {
                    opacity: 1;
                    
                }
            }
        }
        &__item.logo {
            padding-top: 0;
            img {
                transition: all 200ms;
                height: 46px;
            }
            &:hover {
                &:after {
                    all: unset;
                }
                img {
                    transform: scale(1.03)
                }
            }
        }
    }
    button {
        display: none;
    }

    @media (max-width: 600px) {
        background-color: transparent;
        .menu {
            flex-direction: column;
            position: fixed;
            padding: 15px 0 30px;
            transition: all 200ms;
            left: -200px;
            top: 80px;
            background-color: rgba(0,0,0,0.5);
            width: 200px;
            border-radius: 10px;
            &.show {
                transform: translate(115%, 0%);
            }
            &__item {
                margin: 10px auto;
                font-size: 15px;

                &.logo {
                    margin: 10px auto;
                }
            }
        }
        button {
            display: block;
            position: fixed;
            top: 20px;

        }
    }
}