.text-page {
    padding: 70px 0 100px;
    
    h1 {
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 0;
        font-weight: 300;
    }
    h2 {
        font-size: 25px;
        margin-bottom: 20px;
        margin-top: 0;
        font-weight: 300;
    }
    p {
        font-size: 18px;
        color: #8C887B;
        margin-bottom: 20px;
        font-weight: 300;
        line-height: 1.3;
    }
}