.main-slider {
    &__arrow-container {
        width: 35px;
        height: 60px;
        // border: 1px solid rgba(0,0,0,0.2);
        border-radius: 4px;
        background-color: rgba(255, 208, 136, 0.9);
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 200ms;
        box-shadow: 0px 1px 2px -2px rgba(0,0,0,0.5);

        .slick-arrow {
            color: rgba(255, 255, 255, 0.8);;
            outline: none;
            background: transparent;
            border: none;
            font-size: 20px;
        }

        &:hover {
            background-color: rgba(255, 208, 136, 1);
            box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.8);
            .slick-arrow {
                color: white;
            }
        }

        &.prev {
            left: 30px;
        }
        &.next {
            right: 30px;
        }
    }
    &__dots {
        padding: 0;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex !important;
        justify-content: center;
        li {
            list-style-type: none;
            margin: 0 15px;
            button {
                color: transparent;
                outline: none;
                border: none;
                background-color: red;
                border-radius: 25px;
                cursor: pointer;
                width: 15px;
                height: 15px;
                background-color: rgba(255, 208, 136, 0.5);
                transition: all 200ms;
                box-shadow: 0px 2px 2px -2px rgba(0,0,0,0.7);

                &:hover {
                    transform: scale(1.1);
                }
            }
            &.slick-active button {
                background-color: rgba(255, 208, 136, 0.8);
                box-shadow: 0px 2px 2px -2px black;
            }
        }
    }
}