.main-slider {
    &__arrow-container {
        width: 35px;
        height: 60px;
        // border: 1px solid rgba(0,0,0,0.2);
        border-radius: 4px;
        background-color: rgba(255, 208, 136, 0.5);
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 200ms;

        .slick-arrow {
            color: rgba(255, 255, 255, 0.5);;
            outline: none;
            background: transparent;
            border: none;
            font-size: 20px;
        }

        &:hover {
            background-color: rgba(255, 208, 136, 0.7);
            .slick-arrow {
                color: white;
            }
        }

        &.prev {
            left: 30px;
        }
        &.next {
            right: 30px;
        }
    }
    
}