.language-toggler {
    position: relative;
    margin-left: auto;
    width: 75px;
    height: 30px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(255, 208, 136, 0.5);
    cursor: pointer;
    display: flex;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    &:hover {
        border: 1px solid rgba(255, 208, 136, 0.65);
        .language-toggler__icon {
            color: rgba(255, 208, 136, 0.8);
        }
    }
    
    &__caret {
        position: relative;
        display: flex;
        align-items: center;
        transition: all 250ms ease-in-out;
        
        &.eng {
            left: 0;
        }

        &.ukr {
            left: -44px;
        }

    }
    &__text {
        display: flex;
        width: 45px;
        align-items: center;
        justify-content: center;
        color: rgb(255, 208, 136);
        height: 100%;
        font-size: 14px;
        line-height: 100%;
        flex-shrink: 0;
        box-sizing: border-box;
    }
    &__toggler {
        width: 25px;
        height: 24px;
        border-radius: 100%;
        background-color:  rgba(255, 208, 136, 0.4);
        border: 1px solid rgba(255, 208, 136, 0.5);
        flex-shrink: 0;
        transition: 300ms all ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icon {  
        color: rgba(255, 208, 136, 0.5);
        position: relative;
    }
}