.lp-section {
    &__first {
        height: 100vh;
        width: 100%;
        background-image: url('/images/background2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (max-width: 499px) {
            height: calc(100vh - 50px);
        }
    }
    &__second {
        height: 100vh;
        width: 100%;
        background-image: url('/images/background4.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (max-width: 499px) {
            height: calc(100vh - 50px);
        }
    }
    &__third {
        height: 100vh;
        width: 100%;
        background-image: url('/images/background3.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (max-width: 499px) {
            height: calc(100vh - 50px);
        }
    }
}